body{
background-color: white

}

label{
    
color: white;
background-color: black;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

h1{
    text-align: center;
color: white;
background-color: black;
width: 75%;
margin-left: 30%;
margin-right: 30%;
border-radius: 100px;
margin: 1% 
}

h2{
    text-align: center;
    margin-left: 30%;
    margin: 1%;
}

form{
margin: 1%;
background-color: darkred;
border-radius: 50px;
}


